@media only screen and (min-width: 768px) {
    .container {
      background-color: rgb(199, 58, 27);
      flex-direction: row;
      gap: 10px;
      display: flex;
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
      display: flex;
      background-color: rgb(230, 173, 228);
      flex-direction: column;
      gap: 3px;
    }
    .bloc{
        margin-left: 25%;
    }
  }


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloc{
    display: inline-block;
    width: 200px;
    height: 200px;
    align-items: center;
    background-color: aqua;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.container{
    justify-content: center;
}
